:root {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;
  --text: #cdd6f4;
  --subtext1: #bac2de;
  --subtext0: #a6adc8;
  --overlay2: #9399b2;
  --overlay1: #7f849c;
  --overlay0: #6c7086;
  --surface2: #585b70;
  --surface1: #45475a;
  --surface0: #313244;
  --base: #1e1e2e;
  --mantle: #181825;
  --crust: #11111b;
  --accent: var(--mauve);
  --border-radius: 10px;
}

* {
  all: unset;
  font-size: 14px;
  font-family: "NeverMind", sans-serif;
  transition: 0.1s ease-in-out;
}

trough highlight {
  background: var(--text);
}

scale {
  margin: 0 8px;
}

scale trough {
  margin: 0rem 1rem;
  min-height: 8px;
  min-width: 70px;
  border-radius: var(--border-radius);
}

trough slider {
  margin: -10px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  transition: all 0.2s ease;
  background-color: var(--accent);
}

trough slider:hover {
  box-shadow:
    0 0 2px rgba(0, 0, 0, 0.8),
    0 0 8px var(--accent);
}

trough {
  background-color: var(--surface0);
}

/* notifications */
.notification-background {
  box-shadow:
    0 0 8px 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--surface1);
  border-radius: var(--border-radius);
  margin: 18px;
  background: var(--mantle);
  color: var(--text);
  padding: 0;
}

.notification-background .notification {
  padding: 8px;
  border-radius: var(--border-radius);
}

.notification-background .notification.critical {
  box-shadow: inset 0 0 8px 0 var(--red);
}

.notification .notification-content {
  margin: 8px;
}

.notification .notification-content overlay {
  /* icons */
  margin: 4px;
}

.notification-content .summary {
  color: var(--text);
}

.notification-content .time {
  color: var(--subtext0);
}

.notification-content .body {
  color: var(--subtext1);
}

.notification > *:last-child > * {
  min-height: 3.4em;
}

.notification-background .close-button {
  margin: 8px;
  padding: 2px;
  border-radius: 6.3px;
  color: var(--base);
  background-color: var(--red);
}

.notification-background .close-button:hover {
  background-color: var(--maroon);
}

.notification-background .close-button:active {
  background-color: var(--pink);
}

.notification .notification-action {
  border-radius: var(--border-radius);
  color: var(--text);
  box-shadow: inset 0 0 0 1px var(--surface1);
  margin: 4px;
  padding: 8px;
  font-size: 0.2rem; /* controls the button size not text size */
}

.notification .notification-action {
  background-color: var(--surface0);
}

.notification .notification-action:hover {
  background-color: var(--surface1);
}

.notification .notification-action:active {
  background-color: var(--surface2);
}

.notification.critical progress {
  background-color: var(--red);
}

.notification.low progress,
.notification.normal progress {
  background-color: var(--blue);
}

.notification progress,
.notification trough,
.notification progressbar {
  border-radius: var(--border-radius);
  padding: 3px 0;
}

/* control center */
.control-center {
  /* box-shadow:
    0 0 var(--border-radius) 0 rgba(0, 0, 0, 0.8),
    inset 0 0 0 1px var(--surface0); */
  border-radius: 0;
  background-color: alpha(var(--crust), 0.9);
  color: var(--text);
  padding: 1rem;
  margin: 1rem;
}

.control-center .notification-background {
  border-radius: var(--border-radius);
  box-shadow: inset 0 0 0 1px var(--surface1);
  margin: 4px 10px;
}

.control-center .notification-background .notification {
  border-radius: var(--border-radius);
}

.control-center .notification-background .notification.low {
  opacity: 0.8;
}

.control-center .widget-title > label {
  color: var(--text);
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: var(--border-radius);
  color: var(--text);
  background-color: var(--surface0);
  box-shadow: inset 0 0 0 1px var(--surface1);
  padding: 8px;
}

.control-center .widget-title button:hover {
  background-color: var(--surface1);
}

.control-center .widget-title button:active {
  background-color: var(--surface2);
}

.control-center .notification-group {
  margin-top: 10px;
}

.control-center .notification-group:focus .notification-background {
  background-color: var(--surface0);
}

scrollbar slider {
  margin: -3px;
  opacity: 0.8;
}

scrollbar trough {
  margin: 2px 0;
}

/* dnd */
.widget-dnd {
  margin-top: 5px;
  border-radius: var(--border-radius);
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: var(--border-radius);
  background: var(--surface0);
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: var(--accent);
}

.widget-dnd > switch slider {
  background: var(--surface1);
  border-radius: var(--border-radius);
}

/* mpris */
.widget-mpris-player {
  background: var(--surface0);
  border-radius: var(--border-radius);
  color: var(--text);
}

.mpris-overlay {
  background-color: var(--surface0);
  opacity: 0.9;
  padding: 15px 10px;
}

.widget-mpris-album-art {
  -gtk-icon-size: 100px;
  border-radius: var(--border-radius);
  margin: 0 10px;
}

.widget-mpris-title {
  font-size: 1.2rem;
  color: var(--text);
}

.widget-mpris-subtitle {
  font-size: 1rem;
  color: var(--subtext1);
}

.widget-mpris button {
  border-radius: var(--border-radius);
  color: var(--text);
  margin: 0 5px;
  padding: 2px;
}

.widget-mpris button image {
  -gtk-icon-size: 1.8rem;
}

.widget-mpris button:hover {
  background-color: var(--surface0);
}

.widget-mpris button:active {
  background-color: var(--surface1);
}

.widget-mpris button:disabled {
  opacity: 0.5;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: var(--red);
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: var(--surface0);
}

.control-center .widget-label > label {
  color: var(--text);
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding: 1rem 0;
}

.widget-volume label {
  color: var(--sapphire);
  padding: 0 1rem;
}

.widget-volume trough highlight {
  background: var(--sapphire);
}

.widget-backlight trough highlight {
  background: var(--yellow);
}

.widget-backlight label {
  font-size: 1.5rem;
  color: var(--yellow);
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}
