* {
    bg0: #11111b;
    bg1: #181825;
    bg2: #1e1e2e;
    bg3: #313244;
    fg: #cdd6f4;
    red: #f38ba8;
    orange: #fab387;
    yellow: #f9e2af;
    green: #a6e3a1;
    aqua: #94e2d5;
    blue: #89b4fa;
    purple: #cba6f7;
    pink: #f5c2e7;
    grey0: #45475a;
    grey1: #585b70;
    accent: #cba6f7;
}
